@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Nunito", sans-serif;
	margin: 40px;
}

h3 {
	margin: 10px 0 20px 0;
}
ul,
li {
	margin-left: 20px;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	border: solid 1px #dddddd;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

form {
	width: 300px;
}
.label {
	display: inline-block;
	width: 50px;
}

input {
	width: 200px;
}

.button {
	margin: 20px 0;
	display: block;
	width: 100px;
	background-color: hotpink;
	color: white;
	align-items: end;
}

footer {
	margin-top: 20px;
	text-align: center;
}
